numpy
torch
torchvision
matplotlib
git+https://github.com/openai/CLIP.git
pillow
insightface>=0.7.3
onnx>=1.14.0
opencv-python>=4.7.0.72
segment_anything
packaging
setuptools
rembg
transformers
fonttools
watchdog
